.cart-page {
  padding: 60px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}